In [1]:
(711.25- 235.14) *75

35708.25

In [2]:
# _ 밑줄변수는 마지막 계산 결과값을 갖는다**********
_ * 0.80

28566.600000000002

### 프롬프트에서 복사/붙혀넣기 하려면 한줄씩 하기
### or shift+enter 로 >>> 말고 ... 줄로가서 붙혀넣기

In [3]:
12 + 20

32

In [4]:
(3 + 4
 + 5 + 6)

18

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
import urllib.request
u = urllib.request.urlopen('http://ctabustracker.com/bustime/map/getStopPredictions.jsp?stop=14791&route=22')
from xml.etree.ElementTree import parse
doc = parse(u)
for pt in doc.findall('.//pt'):
    print(pt.text)

In [ ]:
%pip install requests

In [ ]:
%pip install bs4

In [28]:
# 위예제는 ssl 보안인증문제로 실패 urllib.request >> 를 requests 로 바꿔서 사용
# 서울 오후5시 = 시카고 새벽3시 다른시간대에 해봐야할듯

import requests
from bs4 import BeautifulSoup
import xml.etree.ElementTree as ET

response = requests.get('http://ctabustracker.com/bustime/map/getStopPredictions.jsp?stop=14791&route=22')

soup = BeautifulSoup(response.content, 'html.parser')

pts = soup.find_all('pt')

for pt in pts:
    print(pt.text)

## 예제 프로그램

 - 어느 날 아침, 당신은 시카고의 시어스 타워 (Sears tower) 근처를 거닐다가 보도에 1 달러 지폐를 한 장올려뒀다. 그후매일외출할때마다그위에지폐를얹어탑을쌓으며,높이는매일두배로불어 난다. 돈으로 쌓은 탑의 높이가 시어스 타워의 높이와 같아지려면 시간이 얼마나 걸릴까?

In [30]:
bill_thick = 0.11 * 0.001 #지폐의 두께 (0.11mm)를 미터로 환산
sears_height = 442 #시어스타워 높이 442m
num_bills = 1
day = 1

while num_bills * bill_thick < sears_height:
    print('날짜',day, '지폐',num_bills, '높이',num_bills*bill_thick)
    day = day + 1
    num_bills = num_bills *2
print('days =' ,day)
print('number of bills =', num_bills)
print('final height =', num_bills * bill_thick)

날짜 1 지폐 1 높이 0.00011
날짜 2 지폐 2 높이 0.00022
날짜 3 지폐 4 높이 0.00044
날짜 4 지폐 8 높이 0.00088
날짜 5 지폐 16 높이 0.00176
날짜 6 지폐 32 높이 0.00352
날짜 7 지폐 64 높이 0.00704
날짜 8 지폐 128 높이 0.01408
날짜 9 지폐 256 높이 0.02816
날짜 10 지폐 512 높이 0.05632
날짜 11 지폐 1024 높이 0.11264
날짜 12 지폐 2048 높이 0.22528
날짜 13 지폐 4096 높이 0.45056
날짜 14 지폐 8192 높이 0.90112
날짜 15 지폐 16384 높이 1.80224
날짜 16 지폐 32768 높이 3.60448
날짜 17 지폐 65536 높이 7.20896
날짜 18 지폐 131072 높이 14.41792
날짜 19 지폐 262144 높이 28.83584
날짜 20 지폐 524288 높이 57.67168
날짜 21 지폐 1048576 높이 115.34336
날짜 22 지폐 2097152 높이 230.68672
days = 23
number of bills = 4194304
final height = 461.37344

In [31]:
a = 3 + 4
b = a * 2
print(b)

14

In [32]:
hi = 14
_hi = 15
hi2 = 16
2hi = 17

SyntaxError: invalid decimal literal (2226340725.py, line 4)

In [33]:
height1 = 442 # 정수 
height2 = 442.0 # 부동소수점 
height3 = 'Really tall' # 문 자 열
print(type(height1),type(height2),type(height3))

<class 'int'> <class 'float'> <class 'str'>

## 들여쓰기 모범 사례 (best practice)
- 탭(tab)대신공백(space)을사용한다.
- 수준당4개의공백을사용한다.
- 파이썬구문을인식하는편집기를사용한다.

In [37]:
#if문
a = 3
b = 3
if a> b:
    print(a)
elif a == b:
    print(a,b)
else:
    print(b)

3 3

In [38]:
#print 함수
print('Hello')
print('My name is', 'Jab')

Hello
My name is Jab

In [39]:
print('Hello', end=' ')
print('My name is', 'jab')

Hello My name is jab

In [40]:
#사용자 직접입력값 input()함수
name = input('your name:')
print('Your name is', name)

Your name is 납작복숭아

In [43]:
a = 1
b = 2
if a > b:
    pass
else:
    print(b)

2

In [46]:
#연습 문제 1.5 얌체공
ball_height = 100

for i in range(10):
    ball_height = round(ball_height * 3/5, 4)
    print(ball_height)

60.0
36.0
21.6
12.96
7.776
4.6656
2.7994
1.6796
1.0078
0.6047

In [52]:
bill_thickness = 0.11 * 0.001 
sears_height = 442 
num_bills = 1
day =1
# 미 터 (0.11 mm) # 높이(미터)
while num_bills * bill_thickness < sears_height: 
    print(day, num_bills, num_bills * bill_thickness) 
    day = day + 1        #오류발생코드 days변수는 정의되지않음 > days를 day로 수정
    num_bills = num_bills * 2
print('Number of days', day)
print('Number of bills', num_bills)
print('Final height', num_bills * bill_thickness)

1 1 0.00011
2 2 0.00022
3 4 0.00044
4 8 0.00088
5 16 0.00176
6 32 0.00352
7 64 0.00704
8 128 0.01408
9 256 0.02816
10 512 0.05632
11 1024 0.11264
12 2048 0.22528
13 4096 0.45056
14 8192 0.90112
15 16384 1.80224
16 32768 3.60448
17 65536 7.20896
18 131072 14.41792
19 262144 28.83584
20 524288 57.67168
21 1048576 115.34336
22 2097152 230.68672
Number of days 23
Number of bills 4194304
Final height 461.37344

## 숫자

In [53]:
a = True
b = False
# True 값은 1 / False값은 0
c = 4 + a
d = 4 + b
print(c, d)

5 4

In [55]:
a = 37
b = -299392993727716627377128481812241231
c = 0x7fa8      #16진수
d = 0o253       #8진수
e = 0b10001111  #2진수

In [56]:
a = 2.1+4.2

In [57]:
a == 6.3

False

In [58]:
a

6.300000000000001

In [59]:
import math  #수학함수 모듈
x=1
a = math.sqrt(x) 
b = math.sin(x) 
c = math.cos(x) 
d = math.tan(x) 
e = math.log(x)

In [60]:
a = 1
b = 2
c = 3

if b >= a and b <= c:
    print('b is between a and c')

b is between a and c

In [61]:
if not (b < a or b > c):
    print('b is still between a and c')

b is still between a and c

In [72]:
# 연습문제 데이브의 주택담보대출
principal = 500000.0 #대출액
rate = 0.05 #연이율
payment = 2684.11   #매달 납부금
total_paid = 0.0    #총납부금

while principal > 0:
    principal =  principal +  (principal * rate * 1/12) - payment
    total_paid = total_paid + payment
print(total_paid)

966279.5999999957

In [74]:
# 추가납입
principal = 500000.0 #대출액
rate = 0.05 #연이율
payment = 2684.11   #매달 납부금
total_paid = 0.0    #총납부금
extra_pay = 1000
month = 0

while principal > 0:
    if month < 12: 
        principal =  principal +  (principal * rate * 1/12) - payment - extra_pay
        total_paid = total_paid + payment + extra_pay
        month = month + 1
    else:
        principal =  principal +  (principal * rate * 1/12) - payment
        total_paid = total_paid + payment 
        month = month + 1
print(total_paid, month)

929965.6199999959 342

In [86]:
# 추가납입금 계산기
principal = 500000.0 #대출액
rate = 0.05 #연이율
payment = 2684.11   #매달 납부금
total_paid = 0.0    #총납부금
#추가납입 개월
month = 0
#추가납입 조건
xtra_payment_start_month = 61
extra_payment_end_month = 108
extra_payment = 1000

while principal > 0:
    if month >= xtra_payment_start_month and month <= extra_payment_end_month: 
        principal =  principal +  (principal * rate * 1/12) - payment - extra_payment
        total_paid = total_paid + payment + extra_pay
        month = month + 1
    else:
        principal =  principal +  (principal * rate * 1/12) - payment
        total_paid = total_paid + payment 
        month = month + 1
print(round(total_paid,2), month)

880074.1 310

In [89]:
# 월수, 현재까지 납부액, 남은 원금출력
# 추가납입금 계산기
principal = 500000.0 #대출액
rate = 0.05 #연이율
payment = 2684.11   #매달 납부금
total_paid = 0.0    #총납부금
#추가납입 개월
month = 0
#추가납입 조건
extra_payment_start_month = 61
extra_payment_end_month = 108
extra_payment = 1000
still_payment = 0

while principal > 0:
    if month >= extra_payment_start_month and month <= extra_payment_end_month: 
        principal =  principal +  (principal * rate * 1/12) - payment - extra_payment
        total_paid = total_paid + payment + extra_pay
        month = month + 1
        
    else:
        principal =  principal +  (principal * rate * 1/12) - payment
        total_paid = total_paid + payment 
        month = month + 1
    print(month, round(total_paid,2), round(principal,2))

1 2684.11 499399.22
2 5368.22 498795.94
3 8052.33 498190.15
4 10736.44 497581.83
5 13420.55 496970.98
6 16104.66 496357.58
7 18788.77 495741.63
8 21472.88 495123.11
9 24156.99 494502.01
10 26841.1 493878.33
11 29525.21 493252.04
12 32209.32 492623.15
13 34893.43 491991.64
14 37577.54 491357.49
15 40261.65 490720.7
16 42945.76 490081.26
17 45629.87 489439.16
18 48313.98 488794.38
19 50998.09 488146.91
20 53682.2 487496.75
21 56366.31 486843.87
22 59050.42 486188.28
23 61734.53 485529.96
24 64418.64 484868.89
25 67102.75 484205.06
26 69786.86 483538.47
27 72470.97 482869.11
28 75155.08 482196.95
29 77839.19 481522.0
30 80523.3 480844.23
31 83207.41 480163.64
32 85891.52 479480.21
33 88575.63 478793.93
34 91259.74 478104.8
35 93943.85 477412.79
36 96627.96 476717.9
37 99312.07 476020.11
38 101996.18 475319.42
39 104680.29 474615.81
40 107364.4 473909.27
41 110048.51 473199.78
42 112732.62 472487.33
43 115416.73 471771.92
44 118100.84 471053.53
45 120784.95 470332.14
46 123469.06 469607.75
47 126153.17 468880.34
48 128837.28 468149.89
49 131521.39 467416.41
50 134205.5 466679.87
51 136889.61 465940.26
52 139573.72 465197.56
53 142257.83 464451.78
54 144941.94 463702.88
55 147626.05 462950.87
56 150310.16 462195.72
57 152994.27 461437.43
58 155678.38 460675.97
59 158362.49 459911.34
60 161046.6 459143.53
61 163730.71 458372.52
62 167414.82 456598.3
63 171098.93 454816.68
64 174783.04 453027.64
65 178467.15 451231.14
66 182151.26 449427.16
67 185835.37 447615.67
68 189519.48 445796.62
69 193203.59 443970.0
70 196887.7 442135.76
71 200571.81 440293.88
72 204255.92 438444.33
73 207940.03 436587.07
74 211624.14 434722.08
75 215308.25 432849.31
76 218992.36 430968.74
77 222676.47 429080.33
78 226360.58 427184.06
79 230044.69 425279.88
80 233728.8 423367.77
81 237412.91 421447.69
82 241097.02 419519.61
83 244781.13 417583.5
84 248465.24 415639.32
85 252149.35 413687.04
86 255833.46 411726.63
87 259517.57 409758.05
88 263201.68 407781.26
89 266885.79 405796.24
90 270569.9 403802.95
91 274254.01 401801.35
92 277938.12 399791.41
93 281622.23 397773.1
94 285306.34 395746.38
95 288990.45 393711.21
96 292674.56 391667.56
97 296358.67 389615.4
98 300042.78 387554.69
99 303726.89 385485.39
100 307411.0 383407.47
101 311095.11 381320.89
102 314779.22 379225.62
103 318463.33 377121.62
104 322147.44 375008.85
105 325831.55 372887.27
106 329515.66 370756.86
107 333199.77 368617.57
108 336883.88 366469.37
109 340567.99 364312.21
110 343252.1 363146.07
111 345936.21 361975.07
112 348620.32 360799.19
113 351304.43 359618.41
114 353988.54 358432.71
115 356672.65 357242.07
116 359356.76 356046.47
117 362040.87 354845.88
118 364724.98 353640.3
119 367409.09 352429.69
120 370093.2 351214.04
121 372777.31 349993.32
122 375461.42 348767.51
123 378145.53 347536.6
124 380829.64 346300.56
125 383513.75 345059.37
126 386197.86 343813.01
127 388881.97 342561.45
128 391566.08 341304.68
129 394250.19 340042.67
130 396934.3 338775.41
131 399618.41 337502.86
132 402302.52 336225.01
133 404986.63 334941.84
134 407670.74 333653.32
135 410354.85 332359.43
136 413038.96 331060.16
137 415723.07 329755.46
138 418407.18 328445.33
139 421091.29 327129.75
140 423775.4 325808.68
141 426459.51 324482.1
142 429143.62 323150.0
143 431827.73 321812.35
144 434511.84 320469.12
145 437195.95 319120.3
146 439880.06 317765.86
147 442564.17 316405.77
148 445248.28 315040.02
149 447932.39 313668.58
150 450616.5 312291.42
151 453300.61 310908.53
152 455984.72 309519.87
153 458668.83 308125.42
154 461352.94 306725.17
155 464037.05 305319.08
156 466721.16 303907.13
157 469405.27 302489.3
158 472089.38 301065.57
159 474773.49 299635.9
160 477457.6 298200.27
161 480141.71 296758.66
162 482825.82 295311.04
163 485509.93 293857.4
164 488194.04 292397.69
165 490878.15 290931.91
166 493562.26 289460.01
167 496246.37 287981.99
168 498930.48 286497.8
169 501614.59 285007.43
170 504298.7 283510.85
171 506982.81 282008.04
172 509666.92 280498.96
173 512351.03 278983.6
174 515035.14 277461.92
175 517719.25 275933.9
176 520403.36 274399.52
177 523087.47 272858.74
178 525771.58 271311.54
179 528455.69 269757.89
180 531139.8 268197.77
181 533823.91 266631.15
182 536508.02 265058.01
183 539192.13 263478.31
184 541876.24 261892.02
185 544560.35 260299.13
186 547244.46 258699.6
187 549928.57 257093.4
188 552612.68 255480.52
189 555296.79 253860.91
190 557980.9 252234.55
191 560665.01 250601.42
192 563349.12 248961.48
193 566033.23 247314.71
194 568717.34 245661.08
195 571401.45 244000.56
196 574085.56 242333.12
197 576769.67 240658.73
198 579453.78 238977.36
199 582137.89 237288.99
200 584822.0 235593.59
201 587506.11 233891.12
202 590190.22 232181.55
203 592874.33 230464.86
204 595558.44 228741.03
205 598242.55 227010.0
206 600926.66 225271.77
207 603610.77 223526.29
208 606294.88 221773.54
209 608978.99 220013.49
210 611663.1 218246.1
211 614347.21 216471.35
212 617031.32 214689.2
213 619715.43 212899.63
214 622399.54 211102.6
215 625083.65 209298.09
216 627767.76 207486.05
217 630451.87 205666.47
218 633135.98 203839.3
219 635820.09 202004.52
220 638504.2 200162.1
221 641188.31 198311.99
222 643872.42 196454.18
223 646556.53 194588.63
224 649240.64 192715.31
225 651924.75 190834.18
226 654608.86 188945.21
227 657292.97 187048.37
228 659977.08 185143.63
229 662661.19 183230.95
230 665345.3 181310.31
231 668029.41 179381.66
232 670713.52 177444.97
233 673397.63 175500.21
234 676081.74 173547.35
235 678765.85 171586.36
236 681449.96 169617.19
237 684134.07 167639.82
238 686818.18 165654.21
239 689502.29 163660.33
240 692186.4 161658.13
241 694870.51 159647.6
242 697554.62 157628.69
243 700238.73 155601.36
244 702922.84 153565.59
245 705606.95 151521.34
246 708291.06 149468.57
247 710975.17 147407.24
248 713659.28 145337.33
249 716343.39 143258.79
250 719027.5 141171.59
251 721711.61 139075.7
252 724395.72 136971.07
253 727079.83 134857.67
254 729763.94 132735.47
255 732448.05 130604.43
256 735132.16 128464.5
257 737816.27 126315.66
258 740500.38 124157.86
259 743184.49 121991.08
260 745868.6 119815.27
261 748552.71 117630.39
262 751236.82 115436.4
263 753920.93 113233.28
264 756605.04 111020.97
265 759289.15 108799.45
266 761973.26 106568.67
267 764657.37 104328.6
268 767341.48 102079.19
269 770025.59 99820.41
270 772709.7 97552.22
271 775393.81 95274.58
272 778077.92 92987.44
273 780762.03 90690.78
274 783446.14 88384.55
275 786130.25 86068.71
276 788814.36 83743.22
277 791498.47 81408.04
278 794182.58 79063.13
279 796866.69 76708.45
280 799550.8 74343.96
281 802234.91 71969.61
282 804919.02 69585.38
283 807603.13 67191.2
284 810287.24 64787.06
285 812971.35 62372.89
286 815655.46 59948.67
287 818339.57 57514.35
288 821023.68 55069.88
289 823707.79 52615.23
290 826391.9 50150.35
291 829076.01 47675.2
292 831760.12 45189.74
293 834444.23 42693.92
294 837128.34 40187.7
295 839812.45 37671.04
296 842496.56 35143.89
297 845180.67 32606.21
298 847864.78 30057.96
299 850548.89 27499.09
300 853233.0 24929.56
301 855917.11 22349.32
302 858601.22 19758.34
303 861285.33 17156.55
304 863969.44 14543.93
305 866653.55 11920.42
306 869337.66 9285.98
307 872021.77 6640.56
308 874705.88 3984.12
309 877389.99 1316.61
310 880074.1 -1362.02

In [92]:
# 월수, 현재까지 납부액, 남은 원금출력
# 마지막달 초과납부금액 없이
# 추가납입금 계산기
principal = 500000.0 #대출액
rate = 0.05 #연이율
payment = 2684.11   #매달 납부금
total_paid = 0.0    #총납부금
#추가납입 개월
month = 0
#추가납입 조건
extra_payment_start_month = 61
extra_payment_end_month = 108
extra_payment = 1000
still_payment = 0

while principal > 0:
    if month >= extra_payment_start_month and month <= extra_payment_end_month: 
        if principal < payment:
            payment = principal
            principal = principal - payment
            total_paid = total_paid + payment
            month = month + 1
        else:
            principal =  principal +  (principal * rate * 1/12) - payment - extra_payment
            total_paid = total_paid + payment + extra_pay
            month = month + 1
    else:
        if principal < payment:
            payment = principal
            principal = principal - payment
            total_paid = total_paid + payment
            month = month + 1
        else:
            principal =  principal +  (principal * rate * 1/12) - payment
            total_paid = total_paid + payment 
            month = month + 1
    print(month, round(total_paid,2), round(principal,2))

1 2684.11 499399.22
2 5368.22 498795.94
3 8052.33 498190.15
4 10736.44 497581.83
5 13420.55 496970.98
6 16104.66 496357.58
7 18788.77 495741.63
8 21472.88 495123.11
9 24156.99 494502.01
10 26841.1 493878.33
11 29525.21 493252.04
12 32209.32 492623.15
13 34893.43 491991.64
14 37577.54 491357.49
15 40261.65 490720.7
16 42945.76 490081.26
17 45629.87 489439.16
18 48313.98 488794.38
19 50998.09 488146.91
20 53682.2 487496.75
21 56366.31 486843.87
22 59050.42 486188.28
23 61734.53 485529.96
24 64418.64 484868.89
25 67102.75 484205.06
26 69786.86 483538.47
27 72470.97 482869.11
28 75155.08 482196.95
29 77839.19 481522.0
30 80523.3 480844.23
31 83207.41 480163.64
32 85891.52 479480.21
33 88575.63 478793.93
34 91259.74 478104.8
35 93943.85 477412.79
36 96627.96 476717.9
37 99312.07 476020.11
38 101996.18 475319.42
39 104680.29 474615.81
40 107364.4 473909.27
41 110048.51 473199.78
42 112732.62 472487.33
43 115416.73 471771.92
44 118100.84 471053.53
45 120784.95 470332.14
46 123469.06 469607.75
47 126153.17 468880.34
48 128837.28 468149.89
49 131521.39 467416.41
50 134205.5 466679.87
51 136889.61 465940.26
52 139573.72 465197.56
53 142257.83 464451.78
54 144941.94 463702.88
55 147626.05 462950.87
56 150310.16 462195.72
57 152994.27 461437.43
58 155678.38 460675.97
59 158362.49 459911.34
60 161046.6 459143.53
61 163730.71 458372.52
62 167414.82 456598.3
63 171098.93 454816.68
64 174783.04 453027.64
65 178467.15 451231.14
66 182151.26 449427.16
67 185835.37 447615.67
68 189519.48 445796.62
69 193203.59 443970.0
70 196887.7 442135.76
71 200571.81 440293.88
72 204255.92 438444.33
73 207940.03 436587.07
74 211624.14 434722.08
75 215308.25 432849.31
76 218992.36 430968.74
77 222676.47 429080.33
78 226360.58 427184.06
79 230044.69 425279.88
80 233728.8 423367.77
81 237412.91 421447.69
82 241097.02 419519.61
83 244781.13 417583.5
84 248465.24 415639.32
85 252149.35 413687.04
86 255833.46 411726.63
87 259517.57 409758.05
88 263201.68 407781.26
89 266885.79 405796.24
90 270569.9 403802.95
91 274254.01 401801.35
92 277938.12 399791.41
93 281622.23 397773.1
94 285306.34 395746.38
95 288990.45 393711.21
96 292674.56 391667.56
97 296358.67 389615.4
98 300042.78 387554.69
99 303726.89 385485.39
100 307411.0 383407.47
101 311095.11 381320.89
102 314779.22 379225.62
103 318463.33 377121.62
104 322147.44 375008.85
105 325831.55 372887.27
106 329515.66 370756.86
107 333199.77 368617.57
108 336883.88 366469.37
109 340567.99 364312.21
110 343252.1 363146.07
111 345936.21 361975.07
112 348620.32 360799.19
113 351304.43 359618.41
114 353988.54 358432.71
115 356672.65 357242.07
116 359356.76 356046.47
117 362040.87 354845.88
118 364724.98 353640.3
119 367409.09 352429.69
120 370093.2 351214.04
121 372777.31 349993.32
122 375461.42 348767.51
123 378145.53 347536.6
124 380829.64 346300.56
125 383513.75 345059.37
126 386197.86 343813.01
127 388881.97 342561.45
128 391566.08 341304.68
129 394250.19 340042.67
130 396934.3 338775.41
131 399618.41 337502.86
132 402302.52 336225.01
133 404986.63 334941.84
134 407670.74 333653.32
135 410354.85 332359.43
136 413038.96 331060.16
137 415723.07 329755.46
138 418407.18 328445.33
139 421091.29 327129.75
140 423775.4 325808.68
141 426459.51 324482.1
142 429143.62 323150.0
143 431827.73 321812.35
144 434511.84 320469.12
145 437195.95 319120.3
146 439880.06 317765.86
147 442564.17 316405.77
148 445248.28 315040.02
149 447932.39 313668.58
150 450616.5 312291.42
151 453300.61 310908.53
152 455984.72 309519.87
153 458668.83 308125.42
154 461352.94 306725.17
155 464037.05 305319.08
156 466721.16 303907.13
157 469405.27 302489.3
158 472089.38 301065.57
159 474773.49 299635.9
160 477457.6 298200.27
161 480141.71 296758.66
162 482825.82 295311.04
163 485509.93 293857.4
164 488194.04 292397.69
165 490878.15 290931.91
166 493562.26 289460.01
167 496246.37 287981.99
168 498930.48 286497.8
169 501614.59 285007.43
170 504298.7 283510.85
171 506982.81 282008.04
172 509666.92 280498.96
173 512351.03 278983.6
174 515035.14 277461.92
175 517719.25 275933.9
176 520403.36 274399.52
177 523087.47 272858.74
178 525771.58 271311.54
179 528455.69 269757.89
180 531139.8 268197.77
181 533823.91 266631.15
182 536508.02 265058.01
183 539192.13 263478.31
184 541876.24 261892.02
185 544560.35 260299.13
186 547244.46 258699.6
187 549928.57 257093.4
188 552612.68 255480.52
189 555296.79 253860.91
190 557980.9 252234.55
191 560665.01 250601.42
192 563349.12 248961.48
193 566033.23 247314.71
194 568717.34 245661.08
195 571401.45 244000.56
196 574085.56 242333.12
197 576769.67 240658.73
198 579453.78 238977.36
199 582137.89 237288.99
200 584822.0 235593.59
201 587506.11 233891.12
202 590190.22 232181.55
203 592874.33 230464.86
204 595558.44 228741.03
205 598242.55 227010.0
206 600926.66 225271.77
207 603610.77 223526.29
208 606294.88 221773.54
209 608978.99 220013.49
210 611663.1 218246.1
211 614347.21 216471.35
212 617031.32 214689.2
213 619715.43 212899.63
214 622399.54 211102.6
215 625083.65 209298.09
216 627767.76 207486.05
217 630451.87 205666.47
218 633135.98 203839.3
219 635820.09 202004.52
220 638504.2 200162.1
221 641188.31 198311.99
222 643872.42 196454.18
223 646556.53 194588.63
224 649240.64 192715.31
225 651924.75 190834.18
226 654608.86 188945.21
227 657292.97 187048.37
228 659977.08 185143.63
229 662661.19 183230.95
230 665345.3 181310.31
231 668029.41 179381.66
232 670713.52 177444.97
233 673397.63 175500.21
234 676081.74 173547.35
235 678765.85 171586.36
236 681449.96 169617.19
237 684134.07 167639.82
238 686818.18 165654.21
239 689502.29 163660.33
240 692186.4 161658.13
241 694870.51 159647.6
242 697554.62 157628.69
243 700238.73 155601.36
244 702922.84 153565.59
245 705606.95 151521.34
246 708291.06 149468.57
247 710975.17 147407.24
248 713659.28 145337.33
249 716343.39 143258.79
250 719027.5 141171.59
251 721711.61 139075.7
252 724395.72 136971.07
253 727079.83 134857.67
254 729763.94 132735.47
255 732448.05 130604.43
256 735132.16 128464.5
257 737816.27 126315.66
258 740500.38 124157.86
259 743184.49 121991.08
260 745868.6 119815.27
261 748552.71 117630.39
262 751236.82 115436.4
263 753920.93 113233.28
264 756605.04 111020.97
265 759289.15 108799.45
266 761973.26 106568.67
267 764657.37 104328.6
268 767341.48 102079.19
269 770025.59 99820.41
270 772709.7 97552.22
271 775393.81 95274.58
272 778077.92 92987.44
273 780762.03 90690.78
274 783446.14 88384.55
275 786130.25 86068.71
276 788814.36 83743.22
277 791498.47 81408.04
278 794182.58 79063.13
279 796866.69 76708.45
280 799550.8 74343.96
281 802234.91 71969.61
282 804919.02 69585.38
283 807603.13 67191.2
284 810287.24 64787.06
285 812971.35 62372.89
286 815655.46 59948.67
287 818339.57 57514.35
288 821023.68 55069.88
289 823707.79 52615.23
290 826391.9 50150.35
291 829076.01 47675.2
292 831760.12 45189.74
293 834444.23 42693.92
294 837128.34 40187.7
295 839812.45 37671.04
296 842496.56 35143.89
297 845180.67 32606.21
298 847864.78 30057.96
299 850548.89 27499.09
300 853233.0 24929.56
301 855917.11 22349.32
302 858601.22 19758.34
303 861285.33 17156.55
304 863969.44 14543.93
305 866653.55 11920.42
306 869337.66 9285.98
307 872021.77 6640.56
308 874705.88 3984.12
309 877389.99 1316.61
310 878706.6 0.0

In [93]:
int("123")

123

In [94]:
float("1.23")

1.23

In [95]:
bool("False")

True

In [96]:
bool("True")

True

In [100]:
bool("5")

True

# 문자열

In [102]:
a = 'abcd'
b = "abcd"
c = '''
abc
def
'''
print(a)
print(b)
print(c)

abcd
abcd

abc
def

In [108]:
print('a\na')

a
a

In [109]:
print('abc\r')

abc

In [110]:
print('a\ta')

a	a

In [111]:
print('a\\a')

a\a

In [112]:
a = '\xf1'
b = '\u2200'
c = '\U0001D122'
d = '\N{FOR ALL}'
print(a, b, c, d)

ñ ∀ 𝄢 ∀

In [113]:
a = 'abcdef'
b = a[0]
c = a[3]
d = a[-1]
print(a, b, c, d)

abcdef a d f

In [115]:
e = a[:5]
f = a[3:6]
g = a[-3:]
print(e, f, g)

abcde def def

In [116]:
#문자열 연산
#이어붙이기 (concatenation)  >>> +
#길이 (length)  >>> len()
#멤버십 (membership)  >>> in / not in
#복제 (replication)  >>> *

In [118]:
#문자열 메소드
s = '       hell'
t= s.strip()
print(t)

hell

In [120]:
l = t.lower()
u = t.upper()
print(l , u)

hell HELL

In [121]:
s = 'hell'
r = s.replace('h','b')
print(r)

bell

In [130]:
s.endswith('ll')  #문자열이 'll'로 끝나는지 확인

True

In [133]:
s.find('l')   #문자열에서 'l'가 처음 나타나는 곳

2

In [134]:
#문자열은 변경 불가능 (immutable), 즉 읽기 전용이다. 
#한 번 생성하면 값이 바뀌지 않는다.
s = 'Hello world'
s[1] = 'a'
print(s)

TypeError: 'str' object does not support item assignment

In [135]:
x = 42
str(x)

'42'

In [137]:
# 바이트 열(Byte string)
data = b'Hello world\r\n'
print(len(data))
print(data[0:5])
data.replace(b'Hello', b'Cruel')

13
b'Hello'

b'Cruel world\r\n'

In [139]:
data[0]   #H 의 ascii코드값

72

In [140]:
text = data.decode('utf-8')
print(text)
data = text.encode('utf-8')
print(data)

Hello world

b'Hello world\r\n'

In [142]:
#원시 문자열은 백슬래시를 해석하지 않는 문자열 리터럴이다. 
# 소문자 “r” 을 앞에 붙여 원시 문자열임을나타낸다.
rs = r'c:\newdata\test'
rs

'c:\\newdata\\test'

In [146]:
#f 문자열 (f‐String)
#포매팅된 표현식 대체가 있는 문자열이다. {}
name = 'IBM'
shares = 100
price = 91.1
a = f'{name:>10s} {shares:10d} {price:10.2f}'
print(a)
b =f'Cost = ${shares*price:0.2f}'
print(b)

       IBM        100      91.10
Cost = $9110.00

In [157]:
symbols = 'AAPL,IBM,MSFT,YHOO,SCO'
print(symbols[0])
print(symbols[1])
print(symbols[2])
print(symbols[-1])
print(symbols[-2])

A
A
P
O
C

In [152]:
# 문자열인지 확인
symbols[0] = 'a'

TypeError: 'str' object does not support item assignment

In [158]:
symbols = symbols + ',GOOG'
symbols

'AAPL,IBM,MSFT,YHOO,SCO,GOOG'

In [159]:
symbols = 'HPQ,'+symbols
symbols

'HPQ,AAPL,IBM,MSFT,YHOO,SCO,GOOG'

In [160]:
'IBM' in symbols

True

In [161]:
'AA' in symbols

True

In [163]:
'CAT' in symbols

False

In [165]:
l_symbols = symbols.lower()
l_symbols

'hpq,aapl,ibm,msft,yhoo,sco,goog'

In [167]:
symbols.find('MSFT')

13

In [168]:
symbols[13:17]

'MSFT'

In [169]:
symbols = symbols.replace('SCO','DOA')
symbols

'HPQ,AAPL,IBM,MSFT,YHOO,DOA,GOOG'

# 연습문제 1.18: 정규표현식
- re 모듈에 대한 자세한 정보 https://docs.python.org/library/re.html 참조.

In [171]:
text = 'Today is 3/27/2018. Tomorrow is 3/28/2018.'
#날짜가 있는곳을 모두 찾음
import re
re.findall(r'\d+/\d+/\d+', text)

['3/27/2018', '3/28/2018']

In [173]:
#날짜가 있는곳을 모두 찾아 년-월-일 로교체
re.sub(r'(\d+)/(\d+)/(\d+)', r'\3-\1-\2',text)

'Today is 2018-3-27. Tomorrow is 2018-3-28.'

In [174]:
s = 'hello world'
s.<tab key>

SyntaxError: invalid syntax (3719701219.py, line 2)

In [175]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트

In [176]:
a = []
a.append(1)
a

[1]

In [178]:
a.insert(1, 'b')
a

[1, 'b', 'a']

In [179]:
b = [1,2,3]
a+b

[1, 'b', 'a', 1, 2, 3]

In [180]:
a[0] = 0
a

[0, 'b', 'a']

In [184]:
for item in a:
    print(item)

0
b
a

In [182]:
a.index('b')

1

In [185]:
a.remove('a')
a

[0, 'b']

In [186]:
del a[1]
a

[0]

In [187]:
# 정렬
a = [10, 3, 2, 7]
a.sort()
a

[2, 3, 7, 10]

In [188]:
# 역순정렬
a.sort(reverse=True)
a

[10, 7, 3, 2]

In [189]:
b = ['a', 'c', 'd','b']
b.sort()
b

['a', 'b', 'c', 'd']

In [191]:
b.sort(reverse=True)
b

['d', 'c', 'b', 'a']

In [192]:
c = sorted(a)
c

[2, 3, 7, 10]

# 연습문제 1.19

In [213]:
symbols = 'HPQ,AAPL,IBM,MSFT,YHOO,DOA,GOOG'
symlist = symbols.split(',')
symlist

['HPQ', 'AAPL', 'IBM', 'MSFT', 'YHOO', 'DOA', 'GOOG']

In [194]:
symlist[2]

'IBM'

In [214]:
symlist[2] = 'AIG'
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'YHOO', 'DOA', 'GOOG']

In [215]:
mylst = []
mylst.append('GOOG')

symlist[-3:] = mylst

In [216]:
#이렇게 하면 왼쪽의 리스트 (symlist) 는 오른쪽 리스트 (mysyms) 에 맞춰 크기가 변한다. 
#위의 예에 서, symlist의 마지막 두 개 항목이 mysyms의 한 개 항목으로 교체된다.
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'GOOG']

In [217]:
for s in symlist:
    print(s)

HPQ
AAPL
AIG
MSFT
GOOG

In [218]:
'AAPL' in symlist

True

In [219]:
'CAT' in symlist

False

In [220]:
symlist.append('a')
symlist

['HPQ', 'AAPL', 'AIG', 'MSFT', 'GOOG', 'a']

In [221]:
symlist.insert(1, 'AA')
symlist

['HPQ', 'AA', 'AAPL', 'AIG', 'MSFT', 'GOOG', 'a']

In [222]:
symlist.remove('MSFT')
symlist

['HPQ', 'AA', 'AAPL', 'AIG', 'GOOG', 'a']

In [223]:
symlist.append('a')
symlist

In [226]:
symlist.index('a')

5

In [225]:
symlist.count('a')

2

In [227]:
symlist.remove('a')
symlist

['HPQ', 'AA', 'AAPL', 'AIG', 'GOOG', 'a']

In [228]:
symlist.sort()
symlist

['AA', 'AAPL', 'AIG', 'GOOG', 'HPQ', 'a']

In [229]:
# 리스트 항목들 합치기
a = ','.join(symlist)
a

'AA,AAPL,AIG,GOOG,HPQ,a'

In [230]:
b = ':'.join(symlist)
b

'AA:AAPL:AIG:GOOG:HPQ:a'

# 파일 입력, 출력

In [ ]:
# 파일 데이터를 읽는 일반적인 방법
# 파일 전체를 한번에 읽어 문자열로 처리한다.
with open('foo.txt', 'rt') as file:
    data = file.read()

In [ ]:
# 파일을 한 행씩 읽어내려가기
with open('foo.txt', 'rt') as file: 
    for line in file:
        data = line  #행을처리

In [236]:
#파일에 쓰는 일반적인 방법
#문자열 데이터를 기록한다.
with open('outfile', 'wt') as out: 
    out.write('Hello World\n')

In [237]:
#print 함수의 출력을 재지정 (redirect) 한다.
with open('outfile', 'wt') as out: 
    print('Hello World', file=out)

# 연습문제 1.26

In [238]:
import os
os.getcwd()

'/Users/js/Desktop/새싹 데이터 분석 코스/#파이썬 스터디/practical-python/Work'

In [239]:
with open('Data/portfolio.csv', 'rt') as f:
    data = f.read()
data

'name,shares,price\n"AA",100,32.20\n"IBM",50,91.10\n"CAT",150,83.44\n"MSFT",200,51.23\n"GE",95,40.37\n"MSFT",50,65.10\n"IBM",100,70.44\n'

In [240]:
print(data)

name,shares,price
"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

In [241]:
with open('Data/portfolio.csv','rt') as f:
    for line in f:
        print(line, end='')

name,shares,price
"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

In [243]:
f = open('Data/portfolio.csv', 'rt')
headers = next(f)
headers

for line in f:
    print(line, end='')

"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

In [252]:
f = open('Data/portfolio.csv', 'rt')
headers = next(f)
headers

for line in f:
    print(line, end='')

"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

# 연습문제 1.27

In [254]:
with open('Data/portfolio.csv','rt')as f:
    header = next(f)
    row = []
    for line in f:
        row.append(line.replace('\n','').split(','))
row

[['"AA"', '100', '32.20'],
 ['"IBM"', '50', '91.10'],
 ['"CAT"', '150', '83.44'],
 ['"MSFT"', '200', '51.23'],
 ['"GE"', '95', '40.37'],
 ['"MSFT"', '50', '65.10'],
 ['"IBM"', '100', '70.44']]

In [258]:
total_cost = 0
for item in row:
    cost = int(item[1]) * float(item[2])
    total_cost = total_cost + cost
print('Total cost',total_cost)

Total cost 44671.15

In [259]:
import gzip
with gzip.open('Data/portfolio.csv.gz', 'rt') as f:
    for line in f: print(line, end='')

name,shares,price
"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

# 함수

In [1]:
def sumcount(n): 
    #정수 1부터 n까지의 합을 반환 
    total = 0
    while n > 0:
        total += n
        n -= 1 
    return total

In [3]:
a = sumcount(100)
a

5050

In [7]:
# 예외 일으키기
raise RuntimeError('What a kerfuffle')

RuntimeError: What a kerfuffle

In [9]:
def greeting(name):
    print('Hello', name)

In [10]:
greeting('Han')

Hello Han

In [11]:
greeting('Lee')

Hello Lee

In [12]:
help(greeting)

Help on function greeting in module __main__:

greeting(name)

# 연습문제 30

In [22]:
def portfolio_cost(filename):
    with open(filename,'rt') as f:
        header = next(f)
        row = []
        for line in f:
            row.append(line.replace('\n','').split(','))
    total_cost = 0
    for item in row:
        cost = int(item[1]) * float(item[2])
        total_cost = total_cost + cost
    return total_cost
cost = portfolio_cost('Data/portfolio.csv')
print('Total cost:',cost)

Total cost: 44671.15

In [23]:
portfolio_cost('Data/missing.csv')

ValueError: invalid literal for int() with base 10: ''

# 연습문제 1.32

In [19]:
import csv
f = open('Data/portfolio.csv')
rows = csv.reader(f)
headers = next(f)
for row in rows:
    print(row)
f.close()

['AA', '100', '32.20']
['IBM', '50', '91.10']
['CAT', '150', '83.44']
['MSFT', '200', '51.23']
['GE', '95', '40.37']
['MSFT', '50', '65.10']
['IBM', '100', '70.44']

In [24]:
def portfolio_cost(filename):
    import csv
    f = open('Data/portfolio.csv')
    rows = csv.reader(f)
    headers = next(f)
    row = []
    for item in rows:
        row.append(item)
    f.close()
    total_cost = 0
    for item in row:
        cost = int(item[1]) * float(item[2])
        total_cost = total_cost + cost
    return total_cost
cost = portfolio_cost('Data/portfolio.csv')
print('Total cost:',cost)

Total cost: 44671.15

In [25]:
portfolio_cost('Data/missing.csv')

44671.15

In [26]:
import sys

def portfolio_cost(filename):
    import csv
    f = open('Data/portfolio.csv')
    rows = csv.reader(f)
    headers = next(f)
    row = []
    for item in rows:
        row.append(item)
    f.close()
    total_cost = 0
    for item in row:
        cost = int(item[1]) * float(item[2])
        total_cost = total_cost + cost
    return total_cost

if len(sys.argv) == 2:
    filename = sys.argv[1]
else:
    filename = 'Data/portfolio.csv'
    
cost = portfolio_cost(filename)
print('Total cost', cost)

Total cost 44671.15

# 데이터로 작업하기

In [1]:
email_address = None

if email_address:
    send_email(email_address, msg)

In [2]:
s = ('GOOG', 100, 490.1)

In [3]:
t = ()
w = ('GOOG')

In [4]:
s = ('GOOG', 100, 490.1)
name = s[0]
shares = s[1]
price = s[2]
print(name ,shares, price)

GOOG 100 490.1

In [5]:
s[1] = 75

TypeError: 'tuple' object does not support item assignment

In [6]:
s = (s[0], 75, s[2])
s

('GOOG', 75, 490.1)

In [9]:
x = ('GOOG', 100, 490.1)

In [10]:
name, shares, price = x
print('Cost', shares*price)

Cost 49010.0

In [11]:
name, shares = s

ValueError: too many values to unpack (expected 2)

## 튜플 vs. 리스트
- 튜플의 주된 용도는 여러 부분으로 구성된 단일 항목으로 서 사용하는 것이다. 
- 리스트는 고유한 항목들의 컬렉션으로 사용되며, 이때 모든 항목이 같은 타입인 경 우가 많다.

In [12]:
record = ('GOOG', 100, 490.1)
symbols = ['GOOG','AAPL','IBM']

In [13]:
s = {
    'name':'GOOG',
    'shares':100,
    'price':490.1
}

In [14]:
print(s['name'], s['shares'])

GOOG 100

In [15]:
s['price']

490.1

In [16]:
s['shares'] = 75
s['date'] = '6/6/2007'
s

{'name': 'GOOG', 'shares': 75, 'price': 490.1, 'date': '6/6/2007'}

In [ ]:
del s['date']

In [19]:
s

{'name': 'GOOG', 'shares': 75, 'price': 490.1}

In [21]:
print(s['price'])

490.1

In [24]:
s[2]

KeyError: 2

In [23]:
import csv
f = open('Data/portfolio.csv')
rows = csv.reader(f)
next(rows)   #첫번째줄 읽기
row = next(rows)
row

['AA', '100', '32.20']

In [26]:
cost = row[1] * row[2]
# str타입오류

TypeError: can't multiply sequence by non-int of type 'str'

# 연습문제 2.1

In [27]:
t = (row[0], int(row[1]), float(row[2]))
t

('AA', 100, 32.2)

In [28]:
cost = t[1] * t[2]
cost

3220.0000000000005

In [29]:
print(f'{cost:0.2f}')

3220.00

In [30]:
t[1] = 75

TypeError: 'tuple' object does not support item assignment

In [31]:
t = (t[0], 75, t[2])
t

('AA', 75, 32.2)

In [32]:
name, shares, price = t
print(name, shares, price)

AA 75 32.2

In [33]:
t = (name, 2*shares, price)
t

('AA', 150, 32.2)

# 연습문제 2.2

In [34]:
d = {
    'name': row[0],
    'shares': int(row[1]),
    'price': float(row[2])
}
d

{'name': 'AA', 'shares': 100, 'price': 32.2}

In [35]:
cost = d['shares']*d['price']
cost

3220.0000000000005

In [36]:
d['shares'] = 75

In [37]:
d

{'name': 'AA', 'shares': 75, 'price': 32.2}

In [38]:
d['date'] = (6, 11, 2007)
d['account'] = 12345
d

{'name': 'AA',
 'shares': 75,
 'price': 32.2,
 'date': (6, 11, 2007),
 'account': 12345}

# 연습문제 2.3

In [40]:
list(d)    #딕셔너리를 리스트로하면 키값만 얻음

['name', 'shares', 'price', 'date', 'account']

In [42]:
for k in d:
    print('k =',k)

k = name
k = shares
k = price
k = date
k = account

In [43]:
for k in d:
    print(k, '=',d[k])

name = AA
shares = 75
price = 32.2
date = (6, 11, 2007)
account = 12345

In [45]:
keys = d.keys()
keys

dict_keys(['name', 'shares', 'price', 'date', 'account'])

In [46]:
del d['account']
keys

dict_keys(['name', 'shares', 'price', 'date'])

In [47]:
items = d.items()
items

dict_items([('name', 'AA'), ('shares', 75), ('price', 32.2), ('date', (6, 11, 2007))])

In [48]:
for k,v in d.items():
    print(k, '=', v)

name = AA
shares = 75
price = 32.2
date = (6, 11, 2007)

In [49]:
items

dict_items([('name', 'AA'), ('shares', 75), ('price', 32.2), ('date', (6, 11, 2007))])

In [50]:
a = dict(items)
a

{'name': 'AA', 'shares': 75, 'price': 32.2, 'date': (6, 11, 2007)}

In [51]:
portfolio = [
    ('GOOG', 100, 490.1),
    ('IBM', 50, 91.3),
    ('CAT', 150, 83.44)
]
print(portfolio[0])
print(portfolio[2])

('GOOG', 100, 490.1)
('CAT', 150, 83.44)

In [52]:
records = []
with open('Data/portfolio.csv','rt')as f:
    next(f)  #헤더 건너뛰기
    for line in f:
        row = line.split(',')
        records.append((row[0], int(row[1]), float(row[2])))
records

[('"AA"', 100, 32.2),
 ('"IBM"', 50, 91.1),
 ('"CAT"', 150, 83.44),
 ('"MSFT"', 200, 51.23),
 ('"GE"', 95, 40.37),
 ('"MSFT"', 50, 65.1),
 ('"IBM"', 100, 70.44)]

In [53]:
prices = {
   'GOOG': 513.25,
   'CAT': 87.22,
   'IBM': 93.37,
   'MSFT': 44.12
}

print(prices['IBM'])
print(prices['GOOG'])

93.37
513.25

In [69]:
prices = {}

prices['GOOG'] = 513.25
prices['CAT'] = 87.22
prices['IBM'] = 93.37
prices

{'GOOG': 513.25, 'CAT': 87.22, 'IBM': 93.37}

In [56]:
#파일읽어서 딕셔너리에 넣기
prices = {}

with open('Data/prices.csv','rt')as f:
    for line in f:
        row = line.split(',')
        prices[row[0]] = float(row[1])

IndexError: list index out of range

In [ ]:
#파일 맨끝의 공백문제 해결하기

In [70]:
prices

{'GOOG': 513.25, 'CAT': 87.22, 'IBM': 93.37}

In [71]:
prices.get('IBM', 0.0)

93.37

In [72]:
prices.get('XOM', 0)

0

In [73]:
holidays = {
    (1,1): 'New Year',
    (3,14): 'Pi day',
    (9,13): "Programmer's day"
}
holidays[3,14]

'Pi day'

In [77]:
tech_stocks = { 'IBM','AAPL','MSFT' }

In [78]:
tech_stocks = set(['IBM','AAPL','MSFT'])

In [79]:
tech_stocks

{'AAPL', 'IBM', 'MSFT'}

In [80]:
'IBM' in tech_stocks

True

In [81]:
'FFF' in tech_stocks

False

In [82]:
names = ['IBM','AAPL','GOOG','IBM','GOOG']

In [83]:
unique = set(names)
unique

{'AAPL', 'GOOG', 'IBM'}

In [86]:
names.append('CAT')
# names.remove('YHOO')

In [87]:
names

['IBM', 'AAPL', 'GOOG', 'IBM', 'GOOG', 'CAT', 'CAT']

# 연습문제 2.4

In [1]:
import csv
from pprint import pprint
portfolio = []
filename = 'Data/portfolio.csv'

with open(filename, 'rt') as f:
    rows = csv.reader(f)
    headers = next(rows)
    # headers = line.split(',')
    print(headers[0],headers[1],headers[2])
    for row in rows:
        holding = {
            headers[0]: row[0],
            headers[1]: int(row[1]),
            headers[2]: float(row[2])
        }
        portfolio.append(holding)
pprint(portfolio)

name shares price
[{'name': 'AA', 'price': 32.2, 'shares': 100},
 {'name': 'IBM', 'price': 91.1, 'shares': 50},
 {'name': 'CAT', 'price': 83.44, 'shares': 150},
 {'name': 'MSFT', 'price': 51.23, 'shares': 200},
 {'name': 'GE', 'price': 40.37, 'shares': 95},
 {'name': 'MSFT', 'price': 65.1, 'shares': 50},
 {'name': 'IBM', 'price': 70.44, 'shares': 100}]

In [2]:
from report import read_portfolio
from pprint import pprint
portfolio = read_portfolio('Data/portfolio.csv')
pprint(portfolio)

[{'name': 'AA', 'price': 32.2, 'shares': 100},
 {'name': 'IBM', 'price': 91.1, 'shares': 50},
 {'name': 'CAT', 'price': 83.44, 'shares': 150},
 {'name': 'MSFT', 'price': 51.23, 'shares': 200},
 {'name': 'GE', 'price': 40.37, 'shares': 95},
 {'name': 'MSFT', 'price': 65.1, 'shares': 50},
 {'name': 'IBM', 'price': 70.44, 'shares': 100}]